:root {
	--bg-color: #f4f5f4;
	--color-darkgreen: #1d4c56;
	--color-lightgreen: #45bc97;
	--color-badge: #96b099;
	--color-brown: #b4ab48;
	--color-darkbrown: #88600e;
	--color-lightbrown: #d1d092;
	--color-subheading: #08090acc;
	--color-blue: #3a88c8;
	--color-sky: #004D74;
	--color-lightpink: #bca794;
	--color-black: #000;

	--text-white: #f4f5f4;
}

* {
	/* restting user-agent stylesheet */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	height: 96px;
}
.nav--noblur { 
	position: relative;
	background: transparent;
	position: relative;
	z-index: 2;
}

.nav--blur {
	position: sticky;
	top: 0;

	/* blur version */
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	/* pushed down initially */
	margin-top: 100vh;

	z-index: 1;
}

.hero {
	position: relative;
	isolation: isolate;
	height: 100vh;
	width: 100%;
}


.bgimage {
	background-image:  url(assets/bg-light.svg);
	z-index: -1;
	background-position:center 20%;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -95px;
}


